.container {
  width: 1008px;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container1 {
  flex: 0 0 auto;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(225deg, rgb(69, 198, 173) 8.00%,rgb(167, 232, 110) 97.00%);
}
.container2 {
  flex: 0 0 auto;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(225deg, rgb(62, 115, 204) 2.00%,rgb(83, 192, 232) 98.00%);
}
.container3 {
  flex: 0 0 auto;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(225deg, rgb(169, 110, 219) 3.00%,rgb(86, 105, 219) 96.00%);
}
.container4 {
  flex: 0 0 auto;
  width: 150px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(225deg, rgb(242, 103, 131) 5.00%,rgb(236, 151, 235) 97.00%);
}
