.container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon {
  fill: var(--dl-color-gray-200);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -20px;
  margin-right: -20px;
}
.container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  padding-bottom: 16px;
  background-color: var(--dl-color-gray-200);
}
.text {
  color: var(--dl-color-gray-900);
  text-align: center;
}
.root-class-name {
  top: 20px;
  right: -207px;
  position: absolute;
}
