.container {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
}
.container1 {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
}
.container2 {
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
}

.container3 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
}
.container3:hover {
  opacity: 1;
}
.root-class-name {
  background-image: linear-gradient(90deg, rgb(94, 112, 217) 0.00%,rgb(34, 127, 219) 100.00%);
}
